


.container{
    display: grid;
    gap: 5px;
    min-height: 100px;
    max-height: 100%;
    
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
    
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 2fr 2fr 1fr; */
    grid-template-rows: auto;
    grid-template-areas:
    " head head"
    " main main"
    " section section"
    " article article"
    " footer footer";
    }

/* background */

header{
    grid-area: head;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    
    background-color:#273a2d;
    /* background: linear-gradient(to left, #6f7357, #c8ad8d); */
}
section{
    grid-area: section;
    padding:0 25px;
}
main{
    grid-area: main;
    padding:0 25px;
    
}
article{
    grid-area: article;
}


footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color:#C9CCD3;
    margin-left: 40px;
}
.bg-red{
    background-color: #6f7357;
    
}
.bg-green{
    background-color: green;
}
.bg-pink{
    /* background-image: linear-gradient(120deg, #f68084 0%, #a6c0fe 100%); */
    background-image: linear-gradient(120deg, #e4c5c4 0%, #ebe6ea 100%);
}
.bg-blue{
    background-color: #c8ad8d;
}
.bg-grey{
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
}



/* ****** Navbar ****** */
.navbar{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: space-between;
	/* background-color: #fff; */
    /* background-image: linear-gradient(120deg, #f68084 0%, #a6c0fe 100%); */
    background-image: linear-gradient(120deg, #c8ad8d 0%, #ebe6ea 100%);
	padding: 10px;
}

.navbar a{
	text-decoration: none;
	color: inherit;
}

.logo{
	margin-right: 50px;
    
}

.logo-image{
    width: 38px;
}

.list{
	list-style:none;
	display:flex;
	gap:25px;
    transition: background-color 0.3s;
}

.list li:hover{
    color:#c8ad8d;
}

#toggler,
.navbar label{
	display:none;
}

/* End NavBar */

/* ********* Content ************ */

main p{
    font-family: 'lato', sans-serif;
    color:#ffff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75em;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}



section p{
    font-family: 'lato', sans-serif;
    color:#273a2d;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.75em;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}




.youtube{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.content-icons{
    margin-top:10px;
    font-size: 3rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    
}



/* End Content */

@media screen and (max-width:700px){
.menu{
	width:100%;
	max-height:0;
	overflow: hidden;
}

.list{
	flex-direction:column;
	align-items:center;
	padding:20px;
}

.navbar label{
	display:inline-flex;
	align-items:center;
	cursor:pointer;
}

#toggler:checked ~ .menu{
	max-height:100%;
}
}

/* End Navbar */

/* ***** footer ****** */

.foot_later{
    margin-left: 8px;
    color:#273a2d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow:2px 2px #c8ad8d;
    
}


/* responsive */


@media (max-width: 1000px){
    .container{
        grid-template-columns: 1fr;
        /* grid-template-rows: 5% 30% 30% 30% 5%; */
        grid-template-rows: auto;
        grid-template-areas:
        "head"
        "head"
        "main"
        "section"
        "article"
        "footer";
    }

    footer{
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
